

body[data-theme="dark"] {
       /* --dark */
       --background-page: #374151;
       /* --darker */
       --bg-inputTask: #1F2937;
       /* --darkest */
       --bg-tasks: #111827;
       /* --gray */
       --txt-col: #6B7280;
       /* --light */
       --inp-col: #EEE;
       /* --pink */
       --gradient-first-col: #EC4899;
       /* --purple */
       --gradient-second-color: #8B5Cf6;
       /* --red */
       --btn-delete: #FF0000;

       --btn-complete: #0fb400;
      
}

body[data-theme="light"] {
       --background-page: #93ffa2;
       --bg-inputTask: #3eff38;
       --bg-tasks: #25ff11;
       --txt-col: #148609;
       --inp-col: #fafbfd;
       --gradient-first-col: #a54695;
       --gradient-second-color: #0e7a13;
       --btn-delete: #FF0000;
       --btn-complete: #0fb400;
}



* {
       box-sizing: border-box;
       margin: 0;
}

body {
       display: flex;
       flex-direction: column;
       min-height: 100vh;
       background: var(--background-page);
}

ul {
       list-style: none;
}

header {
       display: flex;
       justify-content: space-between;
       margin: 10px 10px 0 10px;
}

.blockForAddTask {
       padding: 30px 15px;
       max-width: 800px;
       width: 100%;
       margin: 0 auto;
}

.blockForAddTask h1 {
       font-size: 40px;
       font-weight: 300;
       color: var(--txt-col);
       margin-bottom: 15px;
}

.form input {
       background-color: var(--bg-inputTask);
       padding: 15px;
       border-radius: 20px;
       margin-right: 15px;
       font-size: 20px;
       color: var(--inp-col);
}

.newTaskSubmit {
       color: var(--gradient-first-col);
       font-size: 20px;
       font-weight: 700;
       background-image: linear-gradient(to right, var(--gradient-first-col), var(--gradient-second-color));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       cursor: pointer;
}

.newTaskSubmit:active {
       opacity: 0.6;
}

.blockForRenderTasks {
       padding: 30px 15px;
       max-width: 800px;
       width: 100%;
       margin: 0 auto;
}

.taskName {
       font-size: 17px;
       font-weight: 300;
       color: var(--txt-col);
       margin-bottom: 10px;
       width: 100%;
}

.taskName:not(:read-only) {
       color: var(--gradient-first-col);
}

.tasksContainer {
       padding: 15px 0;
}

section h2 {
       font-size: 30px;
       font-weight: 300;
       color: var(--txt-col);
       margin-bottom: 15px;
}

.list {
       max-width: 680px;
       background-color: var(--bg-tasks);
       border-radius: 15px;
       padding: 15px;
       margin-bottom: 15px;
}

.list-importance {
       max-width: 680px;
       background-color: var(--bg-tasks);
       border-radius: 15px;
       padding: 15px;
       margin-bottom: 15px;
       border: 3px solid var(--btn-delete);
}

input,
button {
       border: none;
       outline: none;
       /* appearance: none; */
       background: none;
}

.block {
       display: flex;
       justify-content: space-between;
}

.descriptionName {
       font-size: 14px;
       font-weight: 300;
       color: var(--txt-col);
       margin-bottom: 5px;
       width: 100%;
       display: block;
}

.descriptionName:not(:read-only) {
       color: var(--gradient-first-col);
}

.completed {
       font-size: 12px;
       font-weight: 300;
       color: var(--btn-delete);
       width: 100%;
       display: block;
       margin-right: 5px;
}

.important {
       font-size: 12px;
       font-weight: 300;
       color: var(--txt-col);
       width: 100%;
       display: block;
       margin-right: 5px;
}

.btn-edit {
       font-size: 12px;
       font-weight: 900;
       cursor: pointer;
       text-transform: uppercase;
       background-image: linear-gradient(to right, var(--gradient-first-col), var(--gradient-second-color));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
}

.btn-edit:active {
       opacity: 0.6;
}

.btn-remove {
       padding: 0;
       font-size: 12px;
       font-weight: 700;
       cursor: pointer;
       text-transform: uppercase;
       color: var(--btn-delete);
}

.btn-remove:active {
       opacity: 0.6;
}

.switch {
       display: inline-block;
       position: relative;
       width: 60px;
       height: 34px;
}

.switchInput {
       width: 0;
       height: 0;
       opacity: 0;

}

.switchSlider {
       position: absolute;
       cursor: pointer;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       background-color: var(--txt-col);
       border-radius: 34px;
       transition: 0.5s;
}

.switchSlider::before {
       content: "";
       position: absolute;
       cursor: pointer;
       bottom: 4px;
       left: 4px;
       width: 26px;
       height: 26px;
       background-color: var(--inp-col);
       border-radius: 50%;
       transition: 0.5s;

}

.switchInput:focus+.switchSlider {
       box-shadow: 0 0 1px var(--txt-col);
}

.switchInput:checked+.switchSlider {
       background-color: var(--txt-col);
}
.switchInput:checked+.switchSlider::before {
       transform: translate(26px);
}



.nameTheme {
       font-size: 24px;
       font-weight: 500;
       color: var(--txt-col);
       align-self: center;
       margin: 0 10px 0 0;
}

.themeDecor {
       display: flex;
}

.themeAndSearch {
       display: flex;
}

.blockForModeAndFiltering {
       display: flex;
}

.inputSearch {
       background: var(--bg-inputTask);
       border-radius: 10px;
       padding: 5px;
       font-size: 15px;
}

.completedTask {
       display: flex;
       margin-bottom: 5px;
}

.check-off {
       color: var(--btn-delete);
}

.check-on {
       color: var(--btn-complete);
}

.importantTask {
       display: flex;
}

.checkOn-importance {
       color: var(--btn-delete);
}

.checkOff-importance {
       color: var(--txt-col);
}

.btnCompl {
       color: var(--gradient-first-col);
       margin-left: 10px;
       font-size: 15px;
       font-weight: 700;
       background-image: linear-gradient(to right, var(--gradient-first-col), var(--gradient-second-color));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       cursor: pointer;
}

.btnCompl:active {
       opacity: 0.6;
}

.btnImp {
       color: var(--gradient-first-col);
       margin-left: 10px;
       font-size: 15px;
       font-weight: 700;
       background-image: linear-gradient(to right, var(--gradient-first-col), var(--gradient-second-color));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       cursor: pointer;
}

.btnImp:active {
       opacity: 0.6;
}

.btnAll {
       color: var(--gradient-first-col);
       margin-left: 10px;
       font-size: 15px;
       font-weight: 700;
       background-image: linear-gradient(to right, var(--gradient-first-col), var(--gradient-second-color));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       cursor: pointer;
}

.btnAll:active {
       opacity: 0.6;
}

.empty-color {
       color: var(--txt-col);
       font-size: 25px;
       font-weight: 300;
}

.formSearch {
       align-self: center;
}